a { color:#FF0000; } 
a:visited { color:#FF0000; } 
a:active { color:#FF0000; } 
a:hover { color:#800000; } 
#button_78bff89b { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:12px 6px 6px 6px;width:30%; height:44px; min-width:150px; background-color:#800000; background: linear-gradient(to bottom,#800000, #390000 50%, #2C0000 50%, #200000); border: 2px solid #000000;  }
#button_78bff89b:hover { background-color:#804000; background: linear-gradient(to bottom,#804000, #391C00 50%, #2C1600 50%, #201000); border-color:#000000;  }
#button_78bff89b:hover span { color:#FFFFFF; }
#button_3c70b732 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:12px 6px 6px 6px;width:30%; height:44px; min-width:150px; background-color:#800000; background: linear-gradient(to bottom,#800000, #390000 50%, #2C0000 50%, #200000); border: 2px solid #000000;  }
#button_3c70b732:hover { background-color:#804000; background: linear-gradient(to bottom,#804000, #391C00 50%, #2C1600 50%, #201000); border-color:#000000;  }
#button_3c70b732:hover span { color:#FFFFFF; }
#menu_353a5805 a { text-decoration: none; }
#menu_353a5805_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_353a5805_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_353a5805_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_353a5805_entry:hover { background-color: #800000; color: #FFFFFF !important; }
#menu_353a5805_entry:hover span { color:#FFFFFF !important; }
		.menu_353a5805_mainMenuEntry { text-align: center; }
		.menu_353a5805_mainMenuEntry:hover {	background-color:#800000; }
		.menu_353a5805_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_353a5805 .mobileEntry { display: none; } 
		#menu_353a5805 .normalEntry { display: block; } 
		#menu_353a5805_menualignmentwrapper{ width:402px; left: calc(50% - 201px);  } 
		@media only screen and (max-width:700px) { 
			#menu_353a5805 .mobileEntry { display: block; } 
			#menu_353a5805 .normalEntry { display: none; } 
			#menu_353a5805_menualignmentwrapper { width:38px; left: calc(50% - 19px);  } 
		}
body { background-color:#000000; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_4b4e21bc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:51px; background:none;  }
#container_4b4e21bc_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_7fa5239b { vertical-align: bottom; position:relative; display: inline-block; width:400px; max-width:580px; background:none; height:auto;  }
#menu_353a5805 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:41px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(229, 229, 229, 0));  }
#menu_353a5805_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:38px; height:41px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle2 { position:absolute; width:64px; height:41px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Georgia, serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:72px; height:41px; left:64px;  }
.menustyle4 { position:absolute; width:69px; height:41px; left:136px;  }
.menustyle5 { position:absolute; width:75px; height:41px; left:205px;  }
.menustyle6 { position:absolute; width:59px; height:41px; left:280px;  }
.menustyle7 { position:absolute; width:63px; height:41px; left:339px;  }
.textstyle5 { font-size:12pt; font-family:Georgia, serif; color:#000000;  white-space: nowrap; }
#placeh_50cd841 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; border: 0px solid #A0A0A0;  }
#container_42a8e7dd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1600px; background:none;  }
#container_42a8e7dd_padding { margin: 10px; display: block;  }
#container_6568132a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1400px; background:none;  }
#container_6568132a_padding { margin: 10px; display: block;  }
#container_6380ab8d { vertical-align: top; position:relative; display: inline-block; margin:0px 16px 6px 0px;width:49%; min-height:200px; background-color:#800000; background: linear-gradient(to bottom, #000000, #800000);  }
#container_6380ab8d_padding { margin: 10px; display: block;  }
#text_40fcb774 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle6 { font-size:20pt; font-family:Georgia, serif; color:#FFFFFF; font-weight:bold;  }
#text_73277115 { vertical-align: bottom; position:relative; display: inline-block; margin:8px 0px 0px 0px;width:100%; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { font-size:12pt; font-family:Georgia, serif; color:#FFFFFF;  }
#container_789b3a9 { vertical-align: top; position:relative; display: inline-block; margin:0px 6px 6px 0px;width:49%; min-height:200px; background-color:#800080; background: linear-gradient(to bottom, #000000, #800080);  }
#container_789b3a9_padding { margin: 10px; display: block;  }
#text_2c2aa590 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_355ab16c { vertical-align: bottom; position:relative; display: inline-block; margin:8px 0px 0px 0px;width:100%; background:none;  }
#text_4e5f1f5c { vertical-align: bottom; position:relative; display: inline-block; width:40%; max-width:600px; background:none;  }
.textstyle8 { font-size:12pt; font-family:Georgia, serif; color:#AFAFAF;  }
@media only screen and (max-width: 8000px)
{
		#img_7fa5239b { width:22%; height:auto;  }
}
@media only screen and (max-width: 1920px)
{
		#img_7fa5239b { width:400px; height:auto;  }
}
@media only screen and (max-width: 1024px)
{
		#img_7fa5239b { width:250px; height:auto;  }
}
@media only screen and (max-width: 700px)
{
		#img_7fa5239b { width:250px; height:auto;  }
}
@media only screen and (max-width: 700px)
{
		#container_6380ab8d { width:100%;  }
		#container_789b3a9 { width:100%;  }
		#text_4e5f1f5c { width:90%; height:auto;  }
}
@media only screen and (max-width: 500px)
{
		#container_6568132a { width:100%;  }
}
