.u-section-1 .u-sheet-1 {
  min-height: 241px;
}

.u-section-1 .u-text-1 {
  margin: 51px 45px 0;
}

.u-section-1 .u-text-2 {
  width: 784px;
  margin: 15px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 12px 78px 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 242px;
}

.u-section-2 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-2 .u-text-2 {
  width: 784px;
  margin: 14px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 78px;
    margin-right: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 296px;
}

.u-section-3 .u-text-1 {
  width: auto;
  margin: 52px auto 0;
}

.u-section-3 .u-text-2 {
  width: 784px;
  margin: 14px auto 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-family: "Gentium Book Basic";
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 78px;
    margin-right: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 65px;
    margin-right: 65px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 290px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 784px;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 78px;
    margin-right: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }
}